*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

main{
    display:flex
}

aside{
    width:20vw;
    height:100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foto{
    width:200px;
    height:200px;
    object-fit: cover;
    border:10px solid blue;
    border-radius: 50%;
}

aside ul{
    list-style-type: none;
}

aside ul li{
    margin: 15px 0px;
}

aside ul a{
    text-decoration: none;
}

section{
    width: 80vw;
    height: 100vh;
    background-color:dodgerblue ;
    color:white;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h1{
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 700;
}

section h5{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.icones i{
    font-size: 3rem;
    margin-right:10px;
}